<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HolmesPlaceRegisterer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <HolmesPlaceRegisterer.Properties.Settings>
            <setting name="reqstr" serializeAs="String">
                <value>&lt;v:Envelope xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns:d="http://www.w3.org/2001/XMLSchema" xmlns:c="http://schemas.xmlsoap.org/soap/encoding/" xmlns:v="http://schemas.xmlsoap.org/soap/envelope/"&gt;&lt;v:Header /&gt;&lt;v:Body&gt;&lt;Login xmlns="http://m.fizikal.co.il/" id="o0" c:root="1"&gt;&lt;loginObj&gt;&lt;Type&gt;UserID&lt;/Type&gt;&lt;ClientType&gt;Android&lt;/ClientType&gt;&lt;UserIDs i:type="d:anyType"&gt;&lt;string&gt;10534167&lt;/string&gt;&lt;/UserIDs&gt;&lt;Password&gt;1402121212&lt;/Password&gt;&lt;VerifyCode i:null="true" /&gt;&lt;Version i:null="true" /&gt;&lt;/loginObj&gt;&lt;/Login&gt;&lt;/v:Body&gt;&lt;/v:Envelope&gt;</value>
            </setting>
        </HolmesPlaceRegisterer.Properties.Settings>
    </applicationSettings>
</configuration>